body {
  background-color: lightblue;
}
.main-welcome {
  display: flex;
  justify-content: space-around;
}
.main-search {
  display: flex;
  justify-content: space-around;
}
.w3-animate-fading {
  background: url("/images/06.png") no-repeat center;
  width: 48%;
  background-size: 60%;
}
.main-welcome-query {
  width: 48%;
}
.main-search-query {
  padding: 15.01em 16px;
  width: 48%;
}
.search-query-image {
  padding: 25.01em 16px;
  background: url("/images/03.png") no-repeat center;
  width: 48%;
  height: 100px;
  background-size: 65%;
}
